exportPattern("^[[:alpha:]]+")
import(shiny)
import(parallel)
import(bsplus)
import(shiny)
import(shinyWidgets)
importFrom(magrittr,"%>%")
export("%>%")
importFrom(stringi,stri_replace_all_fixed)
importFrom(stringi,stri_replace_all_regex)
importFrom(stringi,stri_trans_general)